<div class="containerExplore" *ngIf="spinner.off" >

  <div class="spinner" >
        <mat-spinner ></mat-spinner>
  </div>



</div>

<section class="containerExplore" *ngIf="!spinner.off">


    <mat-card class="example-card inBottom" *ngFor="let allcases of allCases |slice:0:limit; let index=index "
      >
        <mat-card-header>

          <mat-card-title>{{allcases.Country}}</mat-card-title>
          <mat-card-subtitle>{{allcases.CountryCode}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
           <button  class="btn__watch" mat-button (click)="sendToFloat(allCases[index])">Watch <i class="fas fa-eye"></i></button>
        </mat-card-content>

      </mat-card>





</section>

<div class="pagination containerExplore" *ngIf="spinner.hide">

  <div class="containerExplore"  >

    <div class="spinner" style="margin-top: -10px;" *ngIf="spinner.loadPag">
        <mat-spinner color="accent"></mat-spinner>
    </div>


  </div>
    <button *ngIf="!spinner.loadPag &&  !spinner.off"   type="button" name="button" mat-button (click)="next()">Cargar más   </button>

</div>

  <div class="containerExplore" *ngIf="!spinner.hide" >
    <br>
    <button   type="button" name="button" mat-button (click)="up()"> Subir <i class="fas fa-arrow-up"></i> </button>
    <br>
  </div>


  <div *ngIf="showFloat">
    <app-float-data [receivedData]="exceptionFloatData"></app-float-data>
  </div>
