.container__float{
    overflow-y:hidden;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    z-index: 100;
    position: fixed;
    transition: .5s;
    top: 0;
    background-color: rgba(0%, 0%, 0%, 90%);

}
.fa-arrow-down{
  transform: scale(1.1);
  padding: 13px;
  cursor:pointer;
  margin-left: 10px;
  border-radius: 50%;
  display:inline-block !important;
 
  background-color: rgb(1, 1, 99);
}
.data{
  background-color: rgb(1, 1, 99);
  padding: 0em .5em;
  border-radius:3px;
  width: 60px;
  text-align: center;
  font-weight: 600;
}
  .container__float *{
    color:white;
  }
.container__data__float{
   border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  height: 560px;
  overflow-y:hidden;
  position:absolute;
  bottom:0;

  width:100%;
  max-width: 600px;

  z-index:10;
}
@media screen and (max-width: 350px) {
    .container__data__title {
      transform:scale(.9);
      margin-top: 1.6em;
    }
    .container__global__content{
      transform:scale(.9);
    }
}
 
.container__data__content{

  display:flex;
  justify-content:space-between;
}
 
.container__data__title h1{
    font-size: 20px;
  }
.container__data__title{
  display:flex;
  padding: .2em .9em;
  margin-bottom: .5em;
  align-items:center;
  justify-content: space-between;
}
.up{
  animation: ups .5s linear;
}
@keyframes ups{
  from{
      transition: .5s;
      transform:translateY(100%);
  }
  to{
    transition: .5s;
    transform:translateY(0);
  }
}
.inBottoms{
  animation: bottoms 1s  linear;
}
@keyframes bottoms{
  from{
      opacity: 0;
  }
  to{
   opacity: 1;
  }
}
.container__globa__subcontent{
  margin: 0;
}