
<div class="container__float" *ngIf="this.classFloat.hide==true" #allData>

  
    <div class="container__data__float  up" [ngClass]="{'themeActived':classFloat.black ==true,'themeDisabled':classFloat.black ==false}">
  
  
      <div class="container__data__title  ">
            <h1>{{dataCase.Country}}</h1>
            <p><span (click)="show()" matRipple class="fas fa-arrow-down"></span> </p>
      </div>
  
 
        <div class="spinner" style="margin-top: -10px;  display: flex;justify-content: center;" *ngIf="spinner.off">
            <mat-spinner color="accent"></mat-spinner>
        </div>
  
      <article class="container__global__content" *ngIf="!spinner.off">
  
  
          <div class="container__globa__subcontent inBottoms  ">
                <p ><i class="separateIcon fab fa-periscope separateIcon"  ></i> Código </p>
                <p class="data">  {{dataCase.CountryCode}} </p>
          </div>
          <div class="container__globa__subcontent inBottoms  ">
                <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevo confirmados</p>
                <p class="data">   {{dataCase.NewConfirmed | number}} </p>
          </div>
          <div class="container__globa__subcontent inBottoms ">
              <p><i class="separateIcon fas fa-skull-crossbones"></i> Nuevas muertes</p>
              <p class="data"> {{dataCase.NewDeaths | number}}</p>
          </div>
          <div class="container__globa__subcontent inBottoms ">
              <p><i class="separateIcon fas fa-users-cog"></i> Nuevos recuperados</p>
              <p class="data"> {{dataCase.NewRecovered | number}}</p>
          </div>
          <div class="container__globa__subcontent inBottoms ">
              <p><i class="separateIcon fas fa-list-ul "></i> Total confirmados</p>
              <p class="data"> {{dataCase.TotalConfirmed | number}}</p>
          </div>
          <div class="container__globa__subcontent inBottoms ">
              <p><i class="separateIcon fas fa-user-slash"></i> Muertes totales</p>
              <p class="data"> {{dataCase.TotalDeaths | number}}</p>
          </div>
          <div class="container__globa__subcontent inBottoms">
              <p><i class="separateIcon fas fa-check"></i> Total de recuperados</p>
              <p class="data"> {{dataCase.TotalRecovered | number}}</p>
          </div>
          
           
      </article>
  
  
   
    </div>
  
  
  
  </div>
  