

<div class="containerControl ">
    
    <div class="iconCovid in" *ngIf="icon.rotate">
        <img src="../../assets/images/iconCovid.png" alt="">
    </div>

    <section *ngIf="!icon.rotate" class="in titleFloat"  >
        <h1 class="center">Covid control <i class="fas fa-shield-alt text--red"></i></h1>
      </section>

    <section *ngIf="!icon.rotate" class="in"  style="margin:1em">
   
        <img src="../../assets/images/covid.png" class="sizeImgControl" alt="Covid">
    </section>


      <section *ngIf="!icon.rotate"   class="inBottom">
        <button 
        (click)="redirectToHome('home')"
        mat-button
        style="width: 200px;margin-bottom: -1em;"
        class="btn--blue-dark">Watch  <i class="fas long-arrow-alt-right"></i></button>
      </section>
<!---
      <div *ngIf="!icon.rotate"   class="timingFloat inTop">
          <span> <i class="fas fa-clock"></i> {{time |date}}</span>
      </div>
-->
   
</div>