

.containerControl{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding-top: -3em;
    top: 0;
    height: 100%;
    background-color: azure;
}
.titleFloat{
     
    position: absolute;
    z-index: 10;
    left:7px;
    top: 5px;
    color: rgba(42, 42, 46, 0.61);
}
.timingFloat{
    position: fixed;
    top: 4px;
    color: rgb(150, 5, 5);
    font-family: sans-serif;
    font-weight: 600;
    right: 0;
}
.sizeImgControl{
    width: 250px;
}
.iconCovid img{
    width: 65px;
    animation:rotating 2s linear
}
@keyframes rotating{
    from{
        transform:  rotate(200deg);
    }
    to{
        transform: rotate(0);
    }
}
.center{
    text-align: center;
    margin-bottom: 1em; 

    font-size: 18px;
} 