<div [class]="themeName.menu" style="display: flex;justify-content: flex-end;align-items: center;">
 
    <li matTooltip="Home"
        aria-label="Home"><a  routerLinkActive="active" routerLink="home"><i   class="inTop fas fa-home"></i> </a></li>
    
        <li matTooltip="Explore"
        aria-label="Explore"><a  routerLinkActive="active" routerLink="explore"><i   class="inTop fas fa-th"></i> </a></li>
   
        <li matTooltip="Search"
        aria-label="Search"><a routerLinkActive="active" routerLink="search"><i   class="inTop fas fa-search"></i> </a></li>
    <li matTooltip="Credit"
        
        aria-label="Credit"><a routerLinkActive="active" routerLink="credit"><i   class="inTop fas fa-coins"></i> </a></li>
          <li matTooltip="Theme"
          (click)="activeTheme()"
        aria-label="Theme"><a><i   class="inTop fas fa-paint-brush"></i> </a></li>
</div>
<div [class]="themeName.theme">
     <p id="titleTheme">Covid control</p> <i class="inTop fas fa-shield-alt"></i> 
    <div class="buttoners inTop" *ngIf="!showTheme.show">
        <button mat-button (click)="darkTheme()">Dark</button>
        <button mat-button (click)="clearTheme()">Light</button>
    </div>
</div>
<router-outlet></router-outlet>