/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.themeActived{
    color: #eee;
    background-color: #111;
  }
.themeDisabled{
    color: #eee;
    background-color: rgba(33, 52, 139, 0.984);
  }
