<br>
<div class="container__search" >
  <input #val type="text" placeholder="Buscar pais" class="in">
  <button mat-button (click)="search(val.value)">Search <i class="fas fa-search"></i> </button>
</div>

 
<div class="spinner container__search" *ngIf="spinner.off">
  <mat-spinner ></mat-spinner>
</div>
<br>


 
<section class="containerExplore" *ngIf="!spinner.off">


  <mat-card class="example-card inBottom" *ngFor="let data of searchedFinded;let index=index"
    >
      <mat-card-header>

        <mat-card-title>{{data.Country | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{data.CountryCode}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content  >
         <button mat-button class="btn--watch" style="width: 99%" (click)="read(data)">Watch <i class="fas fa-eye"></i></button>
      </mat-card-content>

    </mat-card>





</section>

<div *ngIf="showComponentFloat">
  <app-float-data [receivedData]="dataFromSearch"></app-float-data>
</div>