<div class="responsive__global in">

    <section class="container__global ">

        <article class="container__global__title">
            <h1>Global status</h1>
        </article>
    
        <article class="container__global__content">
             
          <div class="container__globa__subcontent">
                <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevos confirmados</p>
                <p>{{globalData.NewConfirmed}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-skull-crossbones"></i> Nuevas muertes</p>
                <p>{{globalData.NewDeaths}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-users-cog"></i> Recuperados</p>
                <p>{{globalData.NewRecovered}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-list-ul "></i> Total confirmados</p>
                <p>{{globalData.TotalConfirmed}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-user-slash"></i> Muertes totales</p>
                <p>{{globalData.TotalDeaths}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-check"></i> Total de recuperados</p>
                <p>{{globalData.TotalRecovered}}</p>
            </div>
          
        </article>
    


    </section>

        
    <!--
    **Spinner**
-->
    <div class="inOuts" *ngIf="spinnerChange.off">
        <mat-spinner ></mat-spinner>
    </div>

    <div class="containerExplore">
        <button mat-button class="btn--blue-dark">Explorar</button>
    </div>

</div>

