<div class="responsive__global in">

    <article class="container__global__title">
        <h1>Global status</h1>
    </article>

        <div *ngIf="!statusConnection.off && spinnerChange.off" class="alert--error in">
        Conexión de red inestable <button mat-button (click)="intermediaryData()">Reintentar</button>
    </div>

        <div class="in" style="color:red" *ngIf="!statusConnection.message && spinnerChange.off">
        Conectando <i class="fas fa-circle-notch" ></i> 
    </div>
    <section class="container__global ">

      
    
        <article class="container__global__content">
             
          <div class="container__globa__subcontent">
                <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevos confirmados</p>
                <p ><i class="fas fa-circle-notch" *ngIf="!globalData.NewConfirmed"></i>  {{globalData.NewConfirmed}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-skull-crossbones"></i> Nuevas muertes</p>
                <p><i class="fas fa-circle-notch" *ngIf="!globalData.NewDeaths"></i> {{globalData.NewDeaths}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-users-cog"></i> Recuperados</p>
                <p><i class="fas fa-circle-notch" *ngIf="!globalData.NewRecovered"></i> {{globalData.NewRecovered}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-list-ul "></i> Total confirmados</p>
                <p><i class="fas fa-circle-notch" *ngIf="!globalData.TotalConfirmed"></i> {{globalData.TotalConfirmed}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-user-slash"></i> Muertes totales</p>
                <p><i class="fas fa-circle-notch" *ngIf="!globalData.TotalDeaths"></i> {{globalData.TotalDeaths}}</p>
            </div>
            <div class="container__globa__subcontent">
                <p><i class="separateIcon fas fa-check"></i> Total de recuperados</p>
                <p><i class="fas fa-circle-notch" *ngIf="!globalData.TotalRecovered"></i> {{globalData.TotalRecovered}}</p>
            </div>
          
        </article>
    


    </section>

        
    <br>
    <br>


    <div class="containerExplore in"  *ngIf="!spinnerChange.off">
        <button mat-button class="btn--blue-dark">Explorar</button>
    </div>
    <br>


</div>

   