
<section class="container__global">

    <article class="container__global__title">
        <h1>Global status</h1>
    </article>

    <article class="container__global__content">
         

        <div class="container__globa__subcontent">
            <p>Nuevos confirmados</p>
            <p>1</p>
        </div>
        <div class="container__globa__subcontent">
            <p>Nuevos confirmados</p>
            <p>1</p>
        </div>
        <div class="container__globa__subcontent">
            <p>Nuevos confirmados</p>
            <p>1</p>
        </div>
        <div class="container__globa__subcontent">
            <p>Nuevos confirmados</p>
            <p>1</p>
        </div>
        <div class="container__globa__subcontent">
            <p>Nuevos confirmados</p>
            <p>1</p>
        </div>
        <div class="container__globa__subcontent">
            <p>Nuevos confirmados</p>
            <p>1</p>
        </div>
      
    </article>



</section>

<!--
    **Spinner**
    <div class="inOuts">
        <mat-spinner ></mat-spinner>
    </div>
-->
