.inOuts{
    transform: scale(.4);
}
 
.container__global{
    max-width: 800px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    

}


.container__global__title{
  

}


.container__global__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container__globa__subcontent{
    display: flex;
    margin: .3em;
   
    width: 300px;
    justify-content: space-between;
    border: 1px solid blue;
    align-items: center;
    
}